# =========================
# Build Maven / Gradle
# =========================
target/
!**/src/main/**/target/
!**/src/test/**/target/

build/
!**/src/main/**/build/
!**/src/test/**/build/

# Wrappers (Opcional: ignora o .jar do wrapper para não pesar o repo)
.mvn/wrapper/maven-wrapper.jar

# =========================
# Spring Boot / STS Caches
# =========================
.springBeans
.sts4-cache